*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;

    background:linear-gradient(
        135deg,
        #12081f 0%,
        #1f1037 25%,
        #3b0764 55%,
        #6d28d9 80%,
        #db2777 100%
    );
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.calculator{
    width:360px;
    padding:25px;
    border-radius:25px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,0.15);

    box-shadow:
    0 10px 40px rgba(0,0,0,.4),
    0 0 30px rgba(217,70,239,.25);
}

.calculator h2{
    text-align:center;
    color:#fff;
    margin-bottom:20px;
    font-size:30px;
}

#display{
    width:100%;
    height:70px;

    border:none;
    outline:none;

    border-radius:15px;

    padding:15px;

    background:rgba(255,255,255,.08);

    color:#fff;

    font-size:32px;

    text-align:right;

    margin-bottom:20px;

    box-shadow:inset 0 0 12px rgba(255,255,255,.08);
}

#display::placeholder{
    color:#ddd;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

button{
    height:65px;

    border:none;

    border-radius:15px;

    font-size:22px;

    font-weight:600;

    cursor:pointer;

    color:white;

    background:rgba(255,255,255,.08);

    transition:.3s;
}

button:hover{
    transform:translateY(-3px);

    background:rgba(255,255,255,.18);
}

.operator{
    background:linear-gradient(
        135deg,
        #7c3aed,
        #d946ef
    );
}

.operator:hover{
    background:linear-gradient(
        135deg,
        #6d28d9,
        #c026d3
    );
}

.equal{
    background:linear-gradient(
        135deg,
        #ff4d9d,
        #ff71ce
    );
}

.equal:hover{
    background:linear-gradient(
        135deg,
        #ff2d8d,
        #ff5abf
    );
}

@media(max-width:450px){

    .calculator{
        width:95%;
        padding:20px;
    }

    button{
        height:60px;
        font-size:20px;
    }

    #display{
        height:65px;
        font-size:28px;
    }
}